.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: -1px;
  background-color: #f1f1f1;
  cursor: pointer;
}

:checked+label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

hr {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.tc {
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  width: 100%;
}

#t1:not(:checked)~.tc>#tc1,
#t2:not(:checked)~.tc>#tc2,
#t3:not(:checked)~.tc>#tc3 {
  display: none;
}
